$unit: 8px;
$main-color: #141b1c;
$price-card__background-color: #334247;
$card-basic-color: #5bb189;
$card-bussines-color: #3a6ba5;
$card-webshop-color: #ec632a;
$list-item-odd__color: #2a3438;
$main-font-weight: 300;
